{% assign fit = product.metafields.custom.fit_scale %}

{% if fit %}
<details class="feature-bars" name="fit" role="group" aria-labelledby="fit-label" aria-describedby="fit-description">
  <summary id="fit-label">
    <span class="summary-span">{{ 'products.product.fit_properties' | t }}</span>
    <span class="chevron" aria-hidden="true">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
      </svg>
    </span>
  </summary>
  <div id="fit-description" class="sr-only">
    {{ 'products.product.fit_scale_start' | t }}
    {{ 'products.product.to' | t }}
    {{ 'products.product.fit_scale_end' | t }}. {{ 'products.product.current_value' | t }}
    {% case fit %}
      {% when 1 %}
        {{ 'products.product.fit_levels.one' | t }} (1 {{ 'products.product.of' | t }} 5)
      {% when 2 %}
        {{ 'products.product.fit_levels.two' | t }} (2 {{ 'products.product.of' | t }} 5)
      {% when 3 %}
        {{ 'products.product.fit_levels.three' | t }} (3 {{ 'products.product.of' | t }} 5)
      {% when 4 %}
        {{ 'products.product.fit_levels.four' | t }} (4 {{ 'products.product.of' | t }} 5)
      {% when 5 %}
        {{ 'products.product.fit_levels.five' | t }} (5 {{ 'products.product.of' | t }} 5)
    {% endcase %}
  </div>
  <div class="feature-bar">
    <span class="feature-title">{{ 'products.product.fit_label' | t }}</span>
    <div class="segment-bar" role="presentation">
      {% for i in (1..5) %}
        <div
          class="segment-bar__segment{% if i == fit %} segment-bar__segment--filled{% endif %}"
          style="
            background-color: {% if i == fit %}
              {{ block.settings.fit_scale_bar_filled_color }}
            {% else %}
              {{ block.settings.fit_scale_bar_color }}
            {% endif %};
          "
        ></div>
      {% endfor %}
    </div>

    <div class="scale-labels">
      <span>{{ 'products.product.fit_scale_start' | t }}</span>
      <span>{{ 'products.product.fit_scale_true_to_size' | t }}</span>
      <span>{{ 'products.product.fit_scale_end' | t }}</span>
    </div>
  </div>
</details>
{% endif %}

{% stylesheet %}
  .feature-bars {
    border-bottom: 1px solid #1c1c1c;
    interpolate-size: allow-keywords;
    overflow: hidden;
    padding: 1rem 0;
    transition: color 0.2s ease-in-out;
    width: 100%;
  }

  .feature-bars::details-content {
    block-size: 0;
    transition: block-size 0.2s, content-visibility 0.2s;
    transition-behavior: allow-discrete;
  }

  .feature-bars[open]::details-content {
    block-size: auto;
  }

  .feature-bars summary {
    display: flex;
    justify-content: space-between;
  }

  .feature-bars summary .summary-span {
    font-size: 18px;
  }

  .feature-bars summary .chevron {
    transition: all 0.2s ease-in-out;
  }

  .feature-bars[open] summary .chevron {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .feature-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-block-end: 1rem;
  }

  .feature-bar {
    padding: 1rem 0;
  }

  .feature-bar .segment-bar {
    display: flex;
    margin-left: -6px;
  }

  .feature-bar .segment-bar__segment {
    flex: 1 0 0;
    margin-left: 6px;
    height: 5px;
    background: rgb(var(--heading-color)/0.1);
    border-radius: var(--btn-border-radius);
  }

  .feature-bar .segment-bar__segment--filled {
    background: rgb(var(--heading-color));
  }

  .scale-labels {
    color: #1c1c1c;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.fit_scale_bars",
  "tag": null,
  "settings": [
    {
      "type": "color",
      "label": "t:settings.fit_scale_bar_color",
      "id": "fit_scale_bar_color",
      "default": "#f7f7f7"
    },
    {
      "type": "color",
      "label": "t:settings.fit_scale_bar_filled_color",
      "id": "fit_scale_bar_filled_color",
      "default": "#1c1c1c"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.fit_scale_bars",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
